# Week 2 Part 1 Assignments

1. Understand number and answer the following question.
  1. Assign to 10 and 2 on two variables 'a' and 'b' and perform addition, subtraction, multiplication, division and modulo operation. You should properly print answer during each operation.

In [0]:
# 1.1 Type your answer here.
a=10
b=2
sum=a+b
print(sum)
diff=a-b
print(diff)
prod=a*b
print(prod)
quot=a/b
print(quot)
rem=a%b
print(rem)

2. Write different rules for naming a variable/identifier.

In [0]:
# 2 Type your answer here
1. Should be single word. That is spaces are not allowed
2. Should not be a keyword
3. Should not start with a digit but digit can be in the middle or at the end.
4. Identifiers are case-sensitive.
5. Should start with a letter (alphabet) or underscore

3.  Understand string and answer the following question.   
 1. Assign 2 string on two variable and perform concatenation.
 2. Assign a string in a variable and print the reverse of the string.
 3. Assign 'lower' to a variable and convert it to upper case.
 4. Assign 'school of ai' into a variable and split it into individual words
 5. Assign 'school of ai' into a variable and find the starting index  of word 'ai'

In [0]:
# 3.1 Type your answer here
s1="Hello"
s2=" World"
print(s1+s2)

In [0]:
# 3.2 Type your answer here
s="Hello World"
print(s[-1::-1])

In [0]:
# 3.3 Type your answer here
s="lower"
s.upper()

In [0]:
# 3.4 Type your answer here
s='school of ai'
s.split()

In [0]:
# 3.5 Type your answer here
s="school of ai"
print(s.index("ai"))

4.  Understand list and answer the following question.   
  1. Create a list with values 10,20,30,40 and find its length and sum
  2. Create a list with values 11,22,55. Pop the last element and store it in a variable called 'x'
  3. Create a list with values 10,20,40 and insert 30 in index 2.
  4. Create a list with values 'a','b','c' and remove 'b' from list
  5. Create a list with values 5,'a','b','c',1,5. select values from index 1 to 3 and store it in a variable called 'alpha_list' using slicing.

In [1]:
# 4.1 Type your answer here
a=[10,20,30,40]
print(len(a))
print(sum(a))

4
100

In [0]:
# 4.2 Type your answer here
a =[11,22,55]
x=a.pop()

In [0]:
# 4.3 Type your answer here
a=[10,20,40]
a.insert(2, 30)

In [0]:
# 4.4 Type your answer here
l=['a','b','c']
l.remove("b")

In [2]:
# 4.5 Type your answer here
l=[5,'a','b','c',1,5]
alpha_list=l[1:4]
alpha_list

['a', 'b', 'c']

5.  Understand dictionary and answer the following question.   
  1. Create a dict with key '1' and value 'odd', key '2' and value 'even'
  2. Create a dict with key '1' and value 'odd', key '2' and value 'even' .Then replace 'even' of key 2 with 'EVEN'

In [0]:
# 5.1 Type your answer here
d={1:'odd',2:'even'}

In [0]:
# 5.2 Type your answer here
d={1:'odd',2:'even'}
d[2]="EVEN"